@use "../components/Color.scss" as *;

.apartment_content {
  padding: 0 3rem 3rem 3rem;
  color: $color-primary;
  .owner_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .info_mobile_container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media screen and (width <= 768px) {
  .apartment_content {
    margin: 1rem 1.5rem 2rem 1.5rem;
    padding: 0;
    .owner_info_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .info_mobile_container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
      }
      .user_info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5vh;
      }
    }
  }
}
