@use "../components/Color.scss" as *;

.banner {
  margin: 3rem;
  min-height: 30vh;
  padding-inline: 2rem;
  background-image: url(../asset/BackgroundAbout.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: $color-tertiary;
}
