@use "../../components/Color.scss" as *;

.textwrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 7%;
}

@media screen and (width <= 768px) {
  .textwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    .container_box {
      width: 100%;
    }
  }
}
